.select-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .chevron-down-icon {
    bottom: 0.1rem;
    height: 1.5rem;
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    stroke: $c-black;
    width: 1.5rem;
  }
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

select {
  appearance: none;
  background-color: transparent;
  border-color: $c-primary;
  border-width: 0 0 2px 0;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;

  &:hover {
    color: $c-primary-dark;

    + .chevron-down-icon {
      stroke: $c-primary;
    }
  }

  &:focus {
    outline-offset: 0.15rem;
    outline: 0.15rem solid $c-primary;
  }

  option {
    color: $c-black;
  }

  &.flag-icon-background {
    background-position: 8px center;
    background-size: 1.25rem;
    padding-left: 2.25rem;
  }
}
