$c-white: #ffffff;
$c-grey: #cecece;
$c-black: #443f3d;

$c-primary-lighter: #f9fdff;
$c-primary-light: #e0f3ff;
$c-primary: #0099ff;
$c-primary-dark: #0078c8;

$fw-regular: 400;
$fw-bold: 700;

$br-base: 0.25rem;
