.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .date-cell {
    border-radius: $br-base;
    border: 1px solid $c-primary-light;
    margin-left: -1px;
    margin-top: -1px;
    min-height: 150px;

    &:first-child {
      grid-column: var(--first-week-day);
    }
  }

  .name-list {
    margin: 0.5rem 1rem;
  }

  .day,
  .name-button {
    font-size: 0.75rem;
  }

  .day {
    font-weight: $fw-bold;
    margin-top: 0.5rem;
    text-align: center;
  }
}
