.sidebar {
  .sidebar-section-title {
    font-size: 1.25rem;
    font-weight: $fw-regular;
    margin: 0 0 2rem;
  }

  .name-list-item {
    &:not(:first-of-type) {
      margin-left: 1.75rem;
    }
  }

  .name-button {
    padding: 0.5rem 1rem;
  }

  .flag-icon {
    margin-right: 0.5rem;
    width: 1.4rem;
  }
}